html, body {
	@apply relative;
	@apply w-full;
	@apply h-full;
}

body {
	@apply text-gray-900;
	@apply font-sans;
}

a {
	@apply text-blue-700;
	@apply no-underline;
}

a:hover {
	@apply underline;
}

a:visited {
	@apply text-blue-900;
}

label {
	@apply block;
}

input, button, select, textarea {
	@apply p-2;
	@apply m-0;
	@apply mb-2;
	@apply border-2;
	@apply border-solid;
	@apply border-gray-400;
	@apply rounded;
}

input:disabled {
	@apply text-gray-400;
}

input[type="range"] {
	@apply h-0;
}

button {
	@apply text-gray-900;
	@apply border-gray-300;
	@apply outline-none;
}

button:disabled {
	@apply text-gray-500;
}

button:not(:disabled):active {
	@apply bg-gray-500;
}

button:focus {
	@apply border-gray-600;
}
